<div class="d-flex justify-content-center">
  <div class="card" style="width: 48rem">
    <div class="border border-left border-right px-0">
      <div class="p-3 d-flex d-flex justify-content-between border-bottom">
        <h4 class="d-flex align-items-center mb-0">
          IConnect <i class="far fa-xs fa-star ms-auto text-primary"></i>
        </h4>

        <div>
          <div data-bs-toggle="modal" href="#create-location-modal">
            <img src="~/assets/images/circle-plus.svg" alt="add" />
          </div>
        </div>
      </div>
      <div>
        <div id="new-feed"></div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="create-location-modal"
    aria-hidden="true"
    aria-labelledby="create-location-modal"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="create-location-modal">Tạo bài reivew</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="place-list" class="form-label">Địa điểm</label>
          <input
            name="placeId"
            class="form-control"
            list="placeListOptions"
            id="place-list"
            placeholder="Type to search..."
          />
          <datalist id="placeListOptions"></datalist>

          <label class="form-label" for="location-title">Nội dung</label>
          <textarea
            name="content"
            class="form-control"
            id="post-content"
            cols="30"
            rows="10"
            placeholder="Mô tả"
          ></textarea>

          <label class="form-label" for="files">Files mô tả</label>
          <input
            id="files"
            name="files[]"
            class="form-control"
            type="file"
            multiple
          />
          <div
            id="file-review-container"
            class="d-flex justify-content-start gap-3 mt-3"
          ></div>
        </div>
        <div class="modal-footer">
          <button
            data-bs-dismiss="modal"
            aria-label="Close"
            type="button"
            class="btn btn-secondary"
          >
            Hủy
          </button>
          <button id="c-post" type="button" class="btn btn-primary">
            Tạo mới
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/home.js"></script>
